.Menu{
    background-color: rgb(182, 182, 182);
}
.TITLE{
    background-color:rgb(224, 85, 30);
}
.Testimonials{
    background-color:gold;
}
.NewsFeed{
    background-color:mediumturquoise;
}
.SERVICES{
    background-color:rgb(185, 15, 201);
}
.Donations{
    background-color:rgb(250, 0, 0);
}
.Information{
    background-color:rgb(136, 255, 0);
}
.Contact Us{
    background-color:rgb(255, 7, 7);
}
