.Menu{
    background-color: rgb(182, 182, 182);
    text
}
.TITLE{
    background-color:rgb(224, 85, 30);
    text
}
.Testimonials{
    background-color:gold;
    text
}
.NewsFeed{
    background-color:mediumturquoise;
    text
}
.SERVICES{
    background-color:rgb(185, 15, 201);
    text
}
.Donations{
    background-color:rgb(250, 0, 0);
    text
}
.Information{
    background-color:rgb(136, 255, 0);
    text
}
.ContactUs{
    background-color:rgb(255, 7, 152);
    text
}
