.Menu{
    background-color: rgb(182, 182, 182);
    text-align: center;
    height: 150px;
    font-size: 30px ;
    padding

}
.TITLE{
    background-color:rgb(224, 85, 30);
    text-align: center;
    height: 150px;
    font-size: 30px ;
    padding

}
.Testimonials{
    background-color:gold;
    text-align: center;
    height: 150px;
    font-size: 30px ;
    padding

}
.NewsFeed{
    background-color:mediumturquoise;
    text-align: center;
    height: 150px;
    font-size: 30px ;
    padding

}
.SERVICES{
    background-color:rgb(185, 15, 201);
    text-align: center;
    height: 150px;
    font-size: 30px ;
    padding

}
.Donations{
    background-color:rgb(250, 0, 0);
    text-align: center;
    height: 150px;
    font-size: 30px ;
    padding

}
.Information{
    background-color:rgb(136, 255, 0);
    text-align: center;
    height: 150px;
    font-size: 30px ;
    padding

}
.ContactUs{
    background-color:rgb(255, 7, 152);
    text-align: center;
    height: 150px;
    font-size: 30px ;
    padding

}
