.Menu{
    background-color: grey;
}
.TITLE{
    background-color:lightsalmon;
}
.Testimonials{
    background-color:gold;
}
.News Feed{
    background-color:mediumturquoise;
}
.SERVICES{
    background-color:rgb(255, 160, 122);
}
.Donations{
    background-color:lightsalmon;
}
.Information{
    background-color:lightsalmon;
}
.TITLE{
    background-color:lightsalmon;
}
.TITLE{
    background-color:lightsalmon;
}