*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
  }

.header{
    display: inline-flex;
    /* flex-direction: row; */
    height: 50%;
    justify-content: center;
    align-items: center;
    font-family: 'Bree Serif', serif;
}
.donation-form-box{
    width: 480px;
    height: 480px;
    /* align-items: center; */
    position: relative;
    margin: 6% auto;
    background: rgb(255, 82, 29);
    padding: 5px;
    /* overflow: hidden; */
}

.input-group{
    align-items:center;
}