*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.header{
    /* background-image: url(/imageedit_2_7454404004.png); */
    height:100%;
    width:100%;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;

}
.donation-form-box{
    width: 380px;
    height: 480px;
    align
    position: relative;
    margin: 6% auto;
    background: rgb(255, 82, 29);
    padding: 5px;
    /* overflow: hidden; */
}