/* *{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

#header{
    display: inline-flex;
    flex-direction: row;
    height: 50%;
    justify-content: center;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
.donation-form-box{
    width: 480px;
    height: 480px;
    align-items: center;
    position: relative;
    margin: 6% auto;
    background: rgb(255, 82, 29);
    padding: 5px;
    overflow: hidden;
}

.input-group{
    align-items:center;
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.wrapper{
  max-width: 750px;
  width: 100%;
  background: rgb(252, 134, 80);
  margin: 50px auto;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
  padding: 30px;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
  
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display:flex;
  align-items: center;
}

.wrapper .form .inputfield label{
  width: 300px;
  color: #0e0a0a;
  margin-right: 10px;
  font-size: 20px;
  font-weight:500;
}

.wrapper .form .inputfield .input{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 10px;
}
.submit{
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight:1000;
  text-align: center;
  color: #0e0a0a;
  background-color: white;
  padding: 8px 10px;
  border-radius: 10px;
}


.wrapper .form .inputfield .input:focus
{
  border: 1px solid #fe4d07;
}


.wrapper .form .inputfield .btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #f5d93d;
  color: rgb(7, 7, 7);
  cursor: pointer;
  border-radius: 3px;
  outline:none;
}



@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  
}

.header{
    height: 50px;
    width: 100%;
    display: flex;
    background: black;
    flex-direction: row;
}

#title{
    color: blanchedalmond;
    margin-left: 25%;
    margin-right: 5%;
}

footer{
  background: black;
  color: white;
  padding: 9px 20px;
}

.center{
  text-align: center;
}