/* services */

#services{
    flex-direction: column;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Navigation */
nav {
    flex-direction:column;
} 

nav ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
} 




/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}