*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }
  


.header{
    height: 50px;
    width: 100%;
    background: black;
}

#title{
    color: blanchedalmond;
    float: right;
    margin-right: 200px;
}
