*{
	padding: 0px;
	margin: 0px;
	font-family: arial;
}
.wrapper {
	
	width: 100%;
	height: 10vh;
}
nav {
	background: #000;
	opacity: .7;

}
nav:after{
	content: '';
	display: block;
	clear: both;
}

.links {
	margin-right: 150px;
	float: left;
}

	
.links li a{
	display: inline-block;
	color: #fff;
	padding: 20px;
	text-decoration: none;
}
.links li:hover{
	background: #555;
  opacity: 1;
}
.links li:hover .dropdown{
	display: block;
}
.dropdown {
	background: #111;
	position: absolute;
	display: none;
	top: 57px;
	left: 0px;
	width: 150px;
}
.dropdown li{
	border: 2px solid #222;
	display: block;
	color: #fff;
}
.dropdown-link:hover {
	display: block;
}


.button {
    padding: 5px 10px;
    font-size: 16px;
    cursor:pointer;  
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ec2b1d;
    border: none;
    border-radius: 15px;
    margin-top: 10px;   
    margin: 15px;
    float: right;
  }
  
  .button:hover {background-color: #8788e0}
  
  .button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }

  .container{
    margin-top: 30px;
    margin-left: 100px;
    float: left;

  }

  #title{
    float: right;
    /* margin-top: 30px; */
    margin-left: 35px;
    font-size:30px;
    color: rgb(119, 14, 14);
  }

  .bar{
      margin-top: 25%;
      height: 10px;
      width: 100%;
      background: salmon;
  }

  #nf{
    width:20%;
    background: black;
    color: white;
    height:40px;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
  }
  #m{
    width:80%;
    float:right;
    margin-top: 10px;
  }
  #NewsFeed{
    /* float:right; */
    /* margin-top: 30px; */
    display:inline;
  }

  .testimonials cite{
    display: block;
    font-family: sans-serif;
    color: #bec4c7;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-style: normal;
  }

  .slides{
    overflow: hidden;
    padding-bottom: 3rem;
    position: relative;
  }

  .slide{
    position: relative;
    float: left;
    width: 100%;
    margin-right: -100%;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity .5s;
  }

  .slide:first-of-type,
  .slide-ctrl:nth-of-type(1):target ~
  .slide:nth-of-type(1),
  .slide-ctrl:nth-of-type(2):target ~
  .slide:nth-of-type(2),
  .slide-ctrl:nth-of-type(3):target ~
  .slide:nth-of-type(3) {
    opacity: 1;
    pointer-events: auto;
  }
  
  .slide-ctrl:target ~ .slide {
    opacity: 0;
    pointer-events: none;
  }
  
  .slide-ctrl{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
  }
  
  .slide-btn{
    background: #5a5c5d;
    display:inline-block;
    width: .83rem;
    height: .83rem;
    line-height: 1;
    overflow: hidden;
    margin: 0 .85rem;
    -webkit-tap-highlight-color: transparent;
    text-indent: 100%;
    border-radius: 999px;
  }
  
  .slide-btn:hover,
  .slide-btn:focus {
    background: #f9f9f9;
  }
  
  .slide:first-of-type,
  .slide-ctrl:nth-of-type(1):target ~
  .slide:nth-of-type(1),
  .slide-ctrl:nth-of-type(2):target ~
  .slide:nth-of-type(2),
  .slide-ctrl:nth-of-type(3):target ~
  .slide:nth-of-type(3) {
  background: #bcbcbc;
  box-shadow: 0 0 0 4px #ad823e;
  }

  .slide-ctrl:target ~ .slid 