/* services */

#services{
    flex-direction: column;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Navigation */
nav {
    flex-direction:row;
} 

nav ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
} 
