/* CSS Reset */
html{
  scroll-behavior: smooth;
}

*{
	padding: 0;
	margin: 0;
	font-family: arial;
}
/* CSS Variables */
:root{
  --navbar-height: 59px;
}
/* .wrapper {
	
	width: 100%;
	height: 100px;
  position: sticky;
}
nav {
  background: #000;
	opacity: .7;
  position: sticky;
  
  
}
nav:after{
  content: '';
	display: block;
	clear: both;
  position: sticky;
}

.links {
	margin-right: 150px;
	float: left;
}

	
.links li a{
	display: inline-block;
	color: #fff;
	padding: 20px;
	text-decoration: none;
}
.links li:hover{
	background: #555;
  opacity: 1;
}
.links li:hover .dropdown{
	display: block;
}
.dropdown {
	background: #111;
	position: absolute;
	display: none;
	top: 57px;
	left: 0px;
	width: 150px;
}
.dropdown li{
	border: 2px solid #222;
	display: block;
	color: #fff;
}
.dropdown-link:hover {
	display: block;
} */


 /* not to touch  */
/* Navigation Bar */
#navbar{
  display: flex;
  align-items: center;
  width:100%;
  position: sticky;
  top: 0px;
  height: 100%;
  background-color: #000000;
  opacity: .7
}

#navbar::before{
  content: '';
  position: absolute;
  top:0px;
  left:0px;
  z-index: -1;
  opacity: 0.7;
}

.dropdown {
	background: #111;
	position: absolute;
	display: none;
	top: 57px;
	left: 0px;
	width: 150px;
}
.dropdown li{
	border: 2px solid #222;
	display: block;
	color: #fff;
}
.dropdown-link:hover {
	display: block;
} */


/* Navigation Bar: Logo and Image */
#logo{
  margin: 10px 34px;
}

#logo img{
  height: 59px;
  margin: 3px 6px;
}




#navbar ul{
  display: flex;
  font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a{
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover{
  color: black;
  background-color: white;
}

/* not to touch */
.button {
    padding: 5px 10px;
    font-size: 16px;
    cursor:pointer;  
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ec2b1d;
    border: none;
    border-radius: 15px;
    margin-top: 10px;   
    margin: 15px;
    float: right;
  }
  
  .button:hover {background-color: #8788e0}
  
  .button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }

  .container{
    margin-top: 30px;
    margin-left: 100px;
    float: left;

  }

  #title{
    float: right;
    /* margin-top: 30px; */
    margin-left: 35px;
    font-size:30px;
    color: rgb(119, 14, 14);
  }

  .bar{
      margin-top: 10%;
      /* margin-bottom: 1%; */
      height: 10px;
      width: 100%;
      background: salmon;
  }
  .bar2{
      /* margin-top: 1%; */
      margin-bottom: 2%;
      height: 10px;
      width: 100%;
      background: salmon;
  }

  #nf{
    width:20%;
    background: black;
    color: white;
    height:40px;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
  }
  #m{
    width:80%;
    float:right;
    margin-top: 10px;
  }
  #NewsFeed{
    /* float:right; */
    /* margin-top: 30px; */
    display:inline;
  }


  .bar3{
    height: 10px;
    width: 100%;
    background: salmon;
    text-align: center;
    margin-top: 30px;
  
  }
  
  .bar3 h1{
    padding: 30px;
    font-size: 50px;
  }