/* CSS Reset */
html{
  scroll-behavior: smooth;
}

*{
	padding: 0;
	margin: 0;
	font-family: arial;
}
/* CSS Variables */
:root{
  --navbar-height: 59px;
}

/* Navigation Bar */
.wrapper {
	
	width: 100%;
	height: 100px;
}
nav {
  background: #000;
	opacity: .7;
  
  
}
nav:after{
  content: '';
	display:block;
	clear: both;
}

.links {
	margin-right: 150px;
	float: left;
}

	
.links li a{
	display: inline-block;
	color: #fff;
	padding: 20px;
	text-decoration: none;
}
.links li:hover{
	background: #555;
  opacity: 1;
}
.links li:hover .dropdown{
	display: block;
}
.dropdown {
	background: #111;
	position: absolute;
	display: none;
	top: 57px;
	left: 0px;
	width: 150px;
}
.dropdown li{
	border: 2px solid #222;
	display: block;
	color: #fff;
}
.dropdown-link:hover {
	display: block;
} 


.button {
  padding: 5px 10px;
  font-size: 16px;
  cursor:pointer;  
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ec2b1d;
  border: none;
  border-radius: 15px;
  margin-top: 10px;   
  margin: 15px;
  float: right;
}

.button:hover {background-color: #8788e0}

.button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}


/* Home Section */
#home{
  display: flex;
  flex-direction: row;
  /* padding:3px ; */
  height: 50%;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif', serif;
}


#title{
  float: right;
  margin-left: 35px;
  font-size:3rem;
  color: rgb(119, 14, 14);
}

/* #home::before{ 
  content: "";
  position: absolute;
  background: url('../bg1.jpg') no-repeat center center/cover;
  height: 642px;
  top:0px;
  left:0px;
  width: 100%;
  z-index: -1;
  opacity:0.89;
} */

/* News Feed */


#nf{
  width:20%;
  background: black;
  color: white;
  font-size: 1.5rem ;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
#m{
  width:80%;
  padding-top: 1.5%;
  font-size: 1rem ;
  /* padding-bottom: 1.5%; */
  /* height:40px; */
  text-align: center;
  float:right;
  background-color: grey;
}
.NewsFeed{
  display:flex;
}







  .bar{
      margin-top: 10%;
      /* margin-bottom: 1%; */
      height: 10px;
      width: 100%;
      background: salmon;
  }
  .bar2{
      /* margin-top: 1%; */
      margin-bottom: 2%;
      height: 10px;
      width: 100%;
      background: salmon;
  }
  .bar4{
      margin-top: 10%;
      margin-bottom: 2%;
      height: 10px;
      width: 100%;
      background: salmon;
  }

  .bar3{
    height: 10px;
    width: 100%;
    background: salmon;
    text-align: center;
    margin-top: 30px;
  
  }
  
  .bar3 h1{
    padding: 30px;
    font-size: 50px;
  }